<div class="gig-widbox gig-widimgbox">
	<a href="{{large_photo}}" class="modal"><img src="{{thumb_photo}}" alt=""></a>
	<div class="gig-imgauthor">
		<h3 class="gig-widtitle">
			<img src="http://webjay.github.com/rf12/widget/images/{{service}}.png" alt="{{service}}" class="img_floatLeft gig-avatar">
			<a href="{{{profilelink service username user_id}}}" target="_top"><img src="{{user_image}}" alt="avatar" class="img_floatLeft gig-avatar"></a>
			{{name}}
		</h3>
	</div>
</div>
